/*styling the web application*/
/*select everything and defaulting the margin and padding to 0
factoring border into element size using box-sizing*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*making the bogy as tall as screen it will be rendered in using 100vh,
setting background image by passing an image link using the url() function*/
body {
    background-image: url(https://bit.ly/4bcK1Hc);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
}

/*select and style the main element with rgb color and 85% opacity,
a relative position 30% from the top of the screen,
box layer settings including border, border radius and padding,
min width of 540px and max width of 50%
as main element is a block element it is centered using auto margin*/
main {
    background-color: rgba(227, 193, 173, 0.85);
    position: relative;
    top: 30%;
    border: 1px solid;
    border-radius: 5px;
    min-width: 540px;
    max-width: 50%;
    margin: auto;
    padding: 2em;
}

/*add space below the h1 element*/
h1 {
    margin-bottom: 20px;
}

/*making input elements larger and use the same padding and font sizes*/
/*search is styled with height of 42px and 70% width*/
#search {
    border-radius: 5px 0 0 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 70%;
    height: 42px;
}

/*submit is styled with 5em width and cursor:pointer 
to make the arrow turn into a pointing ahnd when hovering*/
#submit {
    border-radius: 0 5px 5px 0;
    padding: 10px;
    font-size: 16px;
    width: 5em;
    cursor: pointer;
}


/*Flexbox easily center aligns the content of the app*/
/*converts the weather wrapper and weather search elements into flex containers,
so their child elements become flex items which can be aligned with certain properties*/
/*by default flex items are displayed in rows, so flex direction is set to column,
place-items allows to center align the items,
the weather-search element is set to half the width of its parent i.e. weatehr-wrapper*/
#weather-wrapper {
    display: flex;
    flex-direction: center;
    place-items: center;
    justify-content: space-between;
}

#weather-search{
    display: flex;
    width: 50%;
}

